.popup__text{
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: white;
  margin: 0;
  padding-top: 5px;
}

.popup__text_trash{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 36px 0 8px 36px;

  color: #000000;
}
