.header{
  min-height: 56px;
  min-width: 293px;
  border-bottom: 1px solid #545454;
  padding-top: 28px;
  padding-left: 27px;
}

@media (min-width: 768px){
  .header{
    max-width: 880px;
    height: 74px;
    padding-top: 45px;
  }
}

@media (min-width: 934px){
  .header{
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
  }
}
