.profile__subtitle{
  margin: 0;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

@media (min-width: 450px){
  .profile__subtitle{
    text-align: start;
  }
}
@media (min-width: 768px){
  .profile__subtitle{
    font-size: 18px;
    line-height: 22px;
  }
}
