.cards__like{
  background-image: url(../../../images/cards__like.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 20px;
  height: 19px;
  width: 22px;
  justify-self: end;
  align-self: center;
  background-color: transparent;
  border: none;
}

.cards__like:hover{
  opacity: 0.5;
  transition: opacity 0.5s ease;
  cursor: pointer;
}



